/* Стили для всего документа */
body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для всей страницы. */
    margin: 0; /* Убираем внешние отступы у body. */
    padding: 0; /* Убираем внутренние отступы у body. */
    background-color: #f4f4f4; /* Устанавливаем цвет фона страницы. */
}

/* Стили для шапки сайта */
header {
    background-color: #333; /* Цвет фона шапки. */
    color: #fff; /* Цвет текста в шапке. */
    padding: 10px 0; /* Внутренние отступы сверху и снизу. */
    text-align: center; /* Выравниваем текст по центру. */
}

/* Стили для основного содержимого */
main {
    padding: 20px; /* Внутренние отступы для основного содержимого. */
}

/* Стили для подвала сайта */
footer {
    background-color: #333; /* Цвет фона подвала. */
    color: #fff; /* Цвет текста в подвале. */
    text-align: center; /* Выравниваем текст по центру. */
    padding: 10px 0; /* Внутренние отступы сверху и снизу. */
    position: fixed; /* Фиксируем подвал внизу страницы. */
    bottom: 0; /* Прижимаем подвал к нижней части страницы. */
    width: 100%; /* Ширина подвала на всю страницу. */
}